#movie-detail {
  margin: 1rem auto;
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__line {
  margin: 1rem auto;
  width: 95%;
  height: 1px;
  color: var(--secondary-color);
}
.card__detail__image {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.card__detail__info {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card__description {
  margin: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}
.card__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #movie-detail {
    margin: 0;
    width: 100vw;
  }
  .card__detail__image {
    height: 200px;
  }
}
