.movie-popular {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  row-gap: 20px;
}
.movie-card {
  width: calc(100% / 1.5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--secondary-color);
  /* width: calc(100% / 2); */
}
.movie-card img {
  width: calc(100% / 2);
}
.movie-card-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.movie-card-info div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  /* align-items: center; */
}