#header {
  height: 13vh;
  max-height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem; 
}
.avatar {
  clip-path: circle(30% at 50% 50%);
}