.login {
  width: 100vw;
  height: 100vh;
  /* margin-top: 4rem; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  
}
.login-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  /* align-items: center; */
}
.label-input {
  position: relative;
  left: 1.2rem;
  bottom: .5rem;
}
.label-input:first-child {
  margin-top: 1rem;
}
.login input {
  height: 3rem;
  background-color: var(--primary-color);
  color: var(--color);
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  font-size: calc(var(--font-size) * 1.5);
  margin-bottom: 1.5rem;
  text-align: center;
}
.login button {
  width: calc(100% / 2);
  height: 3rem;
  background-color: var(--secondary-color);
  color: var(--color);
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  font-size: calc(var(--font-size) * 1.5);
}
.btn-google {
  margin-top: 2rem;
}