@import url("./header.css");
@import url("./screen-movie.css");
@import url("./footer.css");
@import url("./login.css");
@import url("./search.css");
@import url("./card.css");

:root {
  --primary-color: #1f1d36;
  --secondary-color: #864879;
  --color: #e9a6a6;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  scrollbar-color: transparent transparent;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--primary-color);
  overflow: overlay;
}
i {
  font-size: 1.5em;
  color: var(--color);
}

