@import url('./screen-movie.css');
@import url('./footer.css');
@import url('./login.css');
@import url('./search.css');
@import url('./card.css');
:root {
  --primary-color: #1F1D36;
  --secondary-color: #864879;
  --color: #E9A6A6;
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
}
* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--primary-color);
}
i {
  font-size: 1.5em;
  color: var(--color);
}
