#content-search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  justify-items: center;
}

input[type="search"] {
  width: calc(100% - 2rem);
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 1rem 0;
  color: var(--color);
  text-align: center;
}
i {
  color: var(--color);
}
.search i {
  width: 20px;
  position: relative;
  top: 4px;
  left: 40px;
}
