#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

input[type="search"] {
  min-width: calc(100% - 3rem);
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  margin-top: 20px;
  color: var(--color);
  text-align: center;
}
i {
  color: var(--color);
}
.search i {
  width: 20px;
  position: relative;
  top: 4px;
  left: 40px;
  
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
